export TF_VAR_vpn_shared_secret_1="..."
export TF_VAR_vpn_shared_secret_2="..."
export TF_VAR_aws_sts_access_key_id="..."
export TF_VAR_aws_sts_secret_access_key="..."
export TF_VAR_aws_api_gw_url="https://..."